/* Tags */
html,body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
  max-width: 100vw;
}
p {
  font-size: 17px;
  line-height: 1.75;
}
a {
  color: #94dcfa;
}
a:hover {
  color: #29abe2;
}
hr {
  width: 75%;
  border-top: 1.5px solid lightgray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
section {
  padding: 80px 0;
  text-align: center;
}
header {
  background: url(../img/header-bg.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 20%;
  max-height: 100%;
  height: 100vh;
}
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #222222;
}

/* Logos and Header */
.side-logo, .logo {
  width: 15%;
  max-width: 160px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.top-logo {
  transition: all .2s ease-in-out;
  height: 15vh;
  max-height: 500px;
  min-height: 50px;
  z-index: 1;
}
@media screen and (max-width: 768px){
  .side-logo, .logo {
    width: 100px;
  }
}

/* Navbar */
.fa-bars {
  font-size: 25px;
}
.show, .collapsing {
  margin: 0 50px;
}
.show .nav-link, .collapsing .nav-link {
  padding: 10px 10px;
}
.navbar .navbar-toggler {
  background-color: transparent;
  border-color: transparent;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.navbar-top {
  background-color: transparent;
}
.navbar-top .collapsing, .navbar-top .show {
  background-color: #222222;
}
.affix .navbar-toggler,
.navbar-white-text .navbar-toggler {
  color: #f0f0f0;
}
.affix.navbar .navbar-nav .nav-item .nav-link {
  color: #f0f0f0;
}
.navbar.affix{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #222222 !important;
  padding: 5px 0;
}
.navbar-nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #416481;
  outline: none;
}
.navbar .navbar-nav .active.nav-item .nav-link,
.navbar .navbar-nav .active.nav-item .nav-link:focus {
  border-radius: 5px;
  color: #f0f0f0;
  background-color: #416481;
}
.navbar .navbar-nav .active.nav-item .nav-link:hover {
  background-color: #5f83a2;
}
.navbar {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: .5rem 0;
}
.navbar-light {
  background-color: #eeeeee;
  border: none;
}
.navbar-black-text .navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-black-text.navbar-top .show .navbar-nav .nav-item .nav-link,
.navbar-black-text.navbar-top .collapsing .navbar-nav .nav-item .nav-link {
  color: #f0f0f0;
}
.navbar-white-text .navbar-nav .nav-item .nav-link {
  color: #f0f0f0;
}
.social a{
  display: inline-block !important;
  padding: 10px 5px !important;
}

/* Sections */
.dark-blue, #about {
  color: #416481;
}
.ig-section {
  padding: 40px 10px;
}
.about-header {
  padding: 100px 0;
  color: #416481;
}
.about {
  padding: 80px;
}
.header-text {
  font-size: 7vw;
  padding: 5px;
  color: #f0f0f0;
  transform: translateZ(1px);
}
.contact-header {
  font-size: 7.5vw;
  color: #f0f0f0;
}
.shows {
  min-height: 300px;
}
.show-row {
  padding: 10px 0;
}
section h2.section-heading {
  font-size: 6vw;
  margin-top: 0;
  margin-bottom: 15px;
}
section#contact {
  background-color: #414141;
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: #f0f0f0;
}
@media screen and (max-width: 768px){
  section {
    padding: 40px;
  }
  .header-text {
    font-size: 9vw;
  }
  .contact-header {
    font-size: 10vw;
  }
  .contact-text {
    font-size: 17px;
  }
  .about {
    padding: 30px;
  }
  .about-header {
    padding: 60px 0;
  }
  .shows {
    padding: 10px 20px;
  }
  .show-row {
    padding: 30px 0;
  }
}

/* Custom elements */
.yt-player{
  width: 90vw;
  height: 60vw;
  max-width: 675px;
  max-height: 375px;
  margin: 3vw auto;
}
#instagram-feed {
  max-width: 900px;
  margin: auto;
  height: 5vw;
  max-height: 1150px;
}
.album-cover {
  height: 33vw;
  max-height: 500px;
}
.announcement {
  font-size: 3vw;
}
.form-field {
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}
#cat {
  max-width: 300px;
  width: 23vh;
}
.press-img {
  width: 200px;
  margin-top: 30px;
}

/* Utilities */
.transparent {
  opacity: 0;
}
.text-light {
  color: #f0f0f0 !important;
}
.text-muted {
  color: #777777;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.maroon {
  color: maroon;
}
::-moz-selection {
  text-shadow: none;
  background: #29abe2;
}
::selection {
  text-shadow: none;
  background: maroon;
  color: #416481;
}
img::selection, button:focus {
  background: transparent;
  outline: none;
}
img::-moz-selection, button:focus {
  background: transparent;
  outline: none;
}

/* Footer */
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #f0f0f0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #222222;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}
ul.social-buttons li a:hover {
  background-color: #29abe2;
}

/* Buttons */
.btn-primary {
  padding: 5px 15px;
  border-radius: 5px;
  color: #f0f0f0;
  background-color: maroon;
  border: 1px solid #f0f0f0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  top: -1.4px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: indianred;
  border: 1px solid #f0f0f0;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn:focus,
.btn:active {
  outline: none;
}
